/* 
    Document   : TripShopStyle
    Created on : 2013-07-26, 10:12:48
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.header {
    /*background-color:#6495ed;*/
    
    /*background: #6cab26;*/
    background-image:url('../img/header.svg');
    background-size: cover;
    
    background-repeat:no-repeat;
    background-position: top center;
    height:240px;
}
.header_font{
    font-family: 'palatino linotype', palatino, serif;
    font-size: 75px;
    color: black;
    position: absolute;
    top: 30px;
    left:20%;
    letter-spacing: 1.2pt;
    word-spacing: 2.4pt;
}



.topNav
{
list-style-type:none;
margin:0;
padding:0;
}
.topPur{
    float:right;
    margin:0;
    padding:0;
}

.menupos:link,.menupos:visited
{
float: left;
font-weight:bold;
color:#FFFFFF;
/*background-color:#669933;*/
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
.menupos:hover,.menupos:active
{
color:#7A991A;
}

.mainSize
{
    width: 1200px;
    margin: auto;
}

#navigationMenu{
    position:relative; 
    margin:auto;
    top: 0px; 
    /*width:1000px;*/ 
    height:32px;
    border:1px solid #666600;
    background-color:#666600;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
}
#leftMenu
{
   
    position: relative;
    top: 20px;
    bottom: 50px;
    left:0;
    /*background-color:#cccc99;*/
   
    border-right: 1px solid #666600;
}
#content
{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color:#cccc99;*/
    text-align: center;
}
#page
{
    height: auto;
    border-left: 1px solid #666600;
    border-right:1px solid #666600;
    background-color:#ffffff;
}

#footer
{
    height: auto;
    border-top: 1px solid #666600;
    border-bottom: 1px solid #666600;
    text-align: center;
}